<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<configuration>
	<!-- 지칭 정해주기 -->
	<typeAliases>
		<typeAlias type="com.mvc.upgrade.dto.BoardDto" alias="boardDto"/>	
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/board-mapper.xml"/>
	</mappers>
</configuration>