<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="favoriteFood" name="favoriteFood" class="com.test02.Food">
		<property name="name" value="gg"></property>
		<property name="price" value="25000"></property>
	</bean>
	<bean id="unFavoriteFood" name="unFavoriteFood" class="com.test02.Food">
		<constructor-arg value="cc" />
		<constructor-arg value="20000" />
	</bean>
	
	<bean id="myFood" class="com.test02.MyFood" autowire="byName" />
</beans>
